<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1">
        <TextView
            android:text="Small Text"
            android:gravity="center"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="0.40"
            android:id="@+id/DIVname" />
        <TextView
            android:text="Small Text"
            android:gravity="center"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="0.20"
            android:id="@+id/DIVmapName" />
        <TextView
            android:text="Small Text"
            android:gravity="center"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="0.10"
            android:id="@+id/DIVlevel" />
    </LinearLayout>
</LinearLayout>