<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:orientation="vertical"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/linearLayout1">
    <LinearLayout
        p1:orientation="horizontal"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/linearLayout2">
        <TextView
            p1:text="Name"
            p1:gravity="center"
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight="0.40"
            p1:id="@+id/textView1" />
        <TextView
            p1:text="Map"
            p1:gravity="center"
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight="0.20"
            p1:id="@+id/textView2" />
        <TextView
            p1:text="Level"
            p1:gravity="center"
            p1:id="@+id/textView3"
            p1:layout_width="0dp"
            p1:layout_weight="0.10"
            p1:layout_height="match_parent" />
    </LinearLayout>
    <LinearLayout
        p1:orientation="horizontal"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:id="@+id/linearLayout3"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content">
        <EditText
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight="0.40"
            p1:id="@+id/nameFilter" />
        <Spinner
            p1:layout_width="0dp"
            p1:focusable="true"
            p1:layout_height="match_parent"
            p1:layout_weight="0.20"
            p1:id="@+id/MapNameSpinner" />
        <EditText
            p1:layout_width="0dp"
            p1:inputType="phone"
            p1:digits="1234567890"
            p1:layout_height="match_parent"
            p1:layout_weight="0.10"
            p1:id="@+id/levelFilter" />
    </LinearLayout>
    <ImageView
        p1:src="@drawable/filter"
        p1:id="@+id/filterButton"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content" />
    <ListView
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/listView1" />
</LinearLayout>