<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:orientation="vertical"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/linearLayout1">
    <LinearLayout
        p1:orientation="horizontal"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/linearLayout2">
        <TextView
            p1:text="World Name"
            p1:gravity="center"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:id="@+id/textView1"
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight="0.40" />
        <Spinner
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight="0.60"
            p1:id="@+id/WorldSelect" />
    </LinearLayout>
    <LinearLayout
        p1:orientation="horizontal"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/linearLayout3">
        <TextView
            p1:text="Language"
            p1:gravity="center"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:id="@+id/textView2"
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:layout_weight="0.40" />
        <Spinner
            p1:layout_width="0dp"
            p1:layout_height="match_parent"
            p1:id="@+id/LangSelect"
            p1:layout_weight="0.60" />
    </LinearLayout>
    <Button
        p1:text="Save and sync DB"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:id="@+id/syncButton" />
</LinearLayout>